#container {
    margin: 20px 20px 20px 20px;
    float: left;
}

.col-md-4 {
    background-color: bisque;
}

img {
    width: 40%;
    height: 40%;
}

.form_class {
    border: 5px;
    border-width: 5px;
    border-color: black;
    border-radius: 10px 10px 10px 10px;
}